/* Set global settings */
body {
    background-color: #212529;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    color: #ffffff80;
}

.header {
    font-weight: 600;
    padding-bottom: 70px;
    margin: 0px 0px;
}

.caption {
    color: #F27777;
    font-size: 12px;
    margin: 0px 0px;
}

/* Set full-screen height for sections */
.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Customize navbar */
.navbar{
    padding: 0 40vh;
    margin: 0 40vh;
}

.navbar-nav, .nav-link {
    font-weight: 700;
    color: #ffffff80;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    transition: 0.3s; 
}

.nav-link:hover,
.nav-link:focus {
  border-bottom-color: #F27777;
}

.active {
  color: #fff;
  border-bottom-color: #fff;
}

.nav-link:hover {
  color: #fff;
}

.navbar-toggler-icon {
  color: #fff !important;
}

.navbar-nav {
  padding-right: 25%;
}

/* Customize home */
.home-text {
    color: #ffffff80;
    font-weight: 600;
}

/* Customize skills and projects */
.project-icon, .skills-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Customize buttons */
.btn-my-skills,
.btn-my-skills:focus {
    color: #ffffff80;
    background-color: #212529;
    border-color: #F27777;
    text-shadow: none; /* Prevent inheritance from `body` */
}

.btn-my-skills:hover {
    color: #212529;
    background-color: #F27777;
    border-color: #212529;
    text-shadow: none; /* Prevent inheritance from `body` */
}

/* Customize cards */
.card {
    color: #fff;
}

.card-title {
    font-weight: 700;
}

.card-description {
    color: #fff;
    margin-top: 12px;
    font-size: 13px;
}

.about-card-text {
    color: #fff;
    margin-top: 20px;
    line-height: 20px;
    font-size: 13px;
    text-align: justify;
}

.border-start {
    border-color: #F27777 !important;
}

/* Customize skill bars */
.skills {
    width: 100%;
    max-width: 300px;
    padding: 0 10px;
}

.skills-description {
    color: #fff;
    padding-top: 10px;
  }
  
.skill-name {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin: 5px 0px;
}
  
.skill-bar {
    height: 7px;
    background: #4e4e4e69;
    border-radius: 3px;
}
  
.skill-per {
    height: 7px;
    background: #f27777;
    border-radius: 3px;
    position: relative;
    animation: fillBars 5s 1;
}

.skill-bars-wrapper {
    margin: 50px 0px;
}
  
@keyframes fillBars {
    from {
      width: 0;
    } to {
      width: 100%;
    }
}

/* Customize about */
.my-photo {
    max-width: 80px;
    height: auto;
}

.about-card-name {
    font-size: 22px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contact-name {
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0px;
}

.about-card-job, .contact-job {
    color: #666;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 30px;
}

/* Customize contact */
.contact-photo {
    max-width: 110px;
    height: auto;
}

.circle-placeholder {
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-color: #F27777;
    background-color: transparent;
    border-radius: 50%;
    margin: 10px;
    display: inline-block;
    overflow: hidden;
}

.circle-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.circle-placeholder:hover {
    color: #212529;
    background-color: #F27777;
    border-color: #212529;
    text-shadow: none; /* Prevent inheritance from `body` */
}