/* Globals */

/* --- Custom default button --- */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color:#fff;
  border-color: #F27777;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/* Header */

.nav-masthead .nav-link {
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  transition: 0.3s; 
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #F27777;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.nav-link:hover {
  color: #fff;
}

.navbar-toggler-icon {
  color: #fff !important;
}

.navbar-nav {
  padding-right: 25%;
}

/*
 * My styling
 */

html * {
  font-family: 'Courier New', Courier, monospace;
}

.caption {
  color: #F27777;
  font-size: 12px;
  margin: 0px 0px;
}

.header {
  font-weight: 600;
  padding-bottom: 70px;
  margin: 0px 0px;
}

.skills {
  width: 100%;
  max-width: 300px;
  padding: 0 10px;
}

.skill-name {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin: 5px 0px;
}

.skill-bar {
  height: 7px;
  background: #4e4e4e69;
  border-radius: 3px;
}

.skill-per {
  height: 7px;
  background: #f27777;
  border-radius: 3px;
  position: relative;
  animation: fillBars 5s 1;
}

@keyframes fillBars {
  from {
    width: 0;
  } to {
    width: 100%;
  }
}

.skill-image {
  margin-right: 5px;
}

.card-title {
  font-weight: 700;
}

.card-text {
  font-size: 12px;
  text-align: justify;
}

.about-me {
  color: #fff;
  margin-top: 20px;
  line-height: 20px;
}

.about-me-title {
  color: #fff;
}
  
.border-start {
  border-color: #F27777 !important;
}

.border-top {
  border-color: rgba(255, 255, 255, .5) !important;
}

.section-wrapper {
  min-height: 100vh;
  height: 100%;
  padding-top: 20vh;
}

.project-icon {
  width: 30px;
  height: 30px;
}

.skills-icon {
  width: 45px;
  height: 45px;
  padding: 2px 2px;
  margin-left: 35px;
  margin-right: 15px;
}

.footer-icon {
  width: 35px;
  height: 35px;
  margin: 30px 5px;
}

.copyright-icon {
  width: 15px;
  height: 15px;
}

.skills-title {
  color: #fff;
  margin: 0px 0px;
  padding: 10px 0px;
}

.skills-description {
  color: #fff;
  padding-top: 10px;
  margin: 0px 25px;
}

.skill-bars-wrapper {
  margin: 50px 0px;
}

.copyright {
  color: rgba(255, 255, 255, .5);
}

.copyright-wrapper {
  margin-right: 5px;
}